@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@400;500;600 & family= Poppins:ital,wght@0,200;0,300;0,400;0,500; 0,600;1,700 & display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sem serifa;
    box-sizing: border-box;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #fec89a;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
    color: #570420;
    font-size: 35px;
    font-weight: 600;


}
nav img{
    height: 40px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #570420;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px ;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;

}
nav ul li a.active, nav ul li a:hover{
    background: #f78522;
}
nav .menu_btn i{
    color: rgb(51, 7, 11);
    cursor: pointer;
    display: none;   
}
@media (max-width: 920px) {
    nav .menu_btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top:80px;
        left: -100%;
        background-color: #fec89a;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left:0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active, 
    nav ul li a:hover{
        background:none;
       color: #570420;
    }
    
}

