@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@400;500;600 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@400;500;600 & family= Poppins:ital,wght@0,200;0,300;0,400;0,500; 0,600;1,700 & display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sem serifa;
    box-sizing: border-box;
 

}
header{
    position: fixed;
    background: #f0759e;
    padding: 20px;
    width: 100%;

}
.left h3{
color: aliceblue;
margin: 0;
text-transform: uppercase;
font-size: 22px;
font-weight: 800;
}
.left span{
    color: #b40640;
}
.sair-btn{
    padding: 5px;
    background: #b40640;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: antiquewhite;
}

/* :root{
    --default-color:#b40640;
}
::selection{
    background-color: var(--default-color);
    color: #FFDEAD;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--default-color);
    padding: 40px;
}
.container{
    max-width: 850px;
    background: #FFDEAD;
    box-shadow: 0 5px 10px rgba(255, 222, 173, 0.568);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 30px ;
}
.container .loguin-form .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
.container .loguin-form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 25px;
    background-color: var(--default-color);
}
.container .loguin-form .in_put-box{
    display: contents;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;

}
.container .loguin-form .in_put-box input{
    height: 100%;
    width: 60%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2) ;
    transition: all 0.3s ease;
}
.container .loguin-form .in_put-box input:focus,
.container .loguin-form .in_put-box input:valid{
    border-color:var(--default-color)
} 
.container .loguin-form .in_put-box input[type="submit"]{
    background-color: #b40640;
    border: 0;
    color: #5e32a3;
    border-radius: 5px;
    cursor: pointer;
}
.container .loguin-form .in_put-box i{
    position: absolute;
    color: var(--default-color);
    font-size: 17px;
}
.container .loguin-form  .forgot a{
    color: var(--default-color);
    text-decoration: none;
}
.container .loguin-form .divider{
    text-align: center;
    margin: 10px;
    font-size: 18px;
}
.container .loguin-form .medias-sociais{
    text-align: center;

}
.container .loguin-form .medias-sociais i{
    margin: 10px;
    font-size: 30px;
    cursor: pointer;

}
.container .loguin-form .medias-sociais i:hover{
    color: var(--default-color);
}
.container .loguin-form .signup-text a{
    color: var(--default-color);
    text-decoration: none;
}
.navegacao{
    position: relative;
    height: 500px;
    background: #58132ac7;
    width: 70px;
    box-shadow: 10px 0 0 #f0759e;
    border-left: 10px solid #58132ac7;;
    overflow-x: hidden;
    transition: 0.5s;
}
.navegacao:hover{
    width: 300px;
}
.navegacao ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navegacao ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
}
.navegacao ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #FFDEAD;
}
.navegacao ul li a .icone{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60PX;
    text-align: center;
    line-height: 70PX;
}
.navegacao ul li a .icone ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}
.navegacao ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navegacao ul li.ativa{
    background: #b40640;
}
.navegacao ul li.ativa a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #58132a8a;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #58132a8a;
}
.navegacao ul li.ativa a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #58132a8a;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #58132a8a;
}
.container .loguin-img{
    width: 50%;
}
@media(max-width:800px)  {
    .loguin-img{
        display: none;
    }
    
}
 */
