@import url('https://fonts.googleapis.com/css2? family= Alfa+Slab+One & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Sarala & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Alfa+Slab+One & family= IBM+Plex+Serif & family= Sarala & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: radial-gradient(76.85% 76.85% at 50% 68.47%, rgba(60, 163, 238, 0) 0%, #3CA3EE 100%);


}
.cabecalho-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;

}
.cabecalho-img{
    height: 62px;
    border-radius: 20px;
}
.cabecalho-opcoes{
    display: flex;
    gap: 32px;
}
.menu-item{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 15px;
}
.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
}
.cont-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cont-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.con-esc-main{
    font-family: 'Alfa Slab One', cursive;
    font-size: 68px;
    font-weight: 400;
    color: #fff2e7;
}
.con-esc-sec{
    font-family: 'Sarala', sans-serif;
    font-size: 20px; 
}
.con-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-top: 32px;
}
.con-sn-esc{
    border-top: 0.4px solid #3CA3EE;
    padding-top: 38px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-size: 24px;
    color: #3CA3EE;
}