body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    
    justify-content: center;
    background-color: #FFDEAD;

}
.btn_voltar{
    
    align-items: center;
    position: fixed;
    margin: 1% 90% 0 2%;
    z-index: 1;
    width:min-content;

}
.btn_voltar img{
height: 40px;
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;  /* aqui os slides sairam do centro */
    overflow: hidden;
    margin: 150px 20px 25px 0;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 800px;  /* aqui consigo alterar o tamanho do slide */
}
.navegacao-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #FFDEAD;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #b40640;
}
#radio1:checked ~ .primeira{
    margin-left: 0;
}
#radio2:checked ~ .primeira{
    margin-left: -25%;
}
#radio3:checked ~ .primeira{
    margin-left: -50%;
}
#radio4:checked ~ .primeira{
    margin-left: -75%;
}
.auto-navegacao div{
border: 2px solid #570420;
padding: 5px;
border-radius: 5px;
cursor: pointer;
transition: 1s;
}
.auto-navegacao{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
} 
.auto-navegacao div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .auto-navegacao .auto-btn1{
    background-color: #b40640;
}      
#radio2:checked ~ .auto-navegacao .auto-btn2{
    background-color: #b40640;
}      
#radio3:checked ~ .auto-navegacao .auto-btn3{
    background-color: #b40640;
}      
#radio4:checked ~ .auto-navegacao .auto-btn4{
    background-color: #b40640;
}     
.faq_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
}
.faq_titulo{
    color: #E3170A;
    font-size: 40px;
    padding: 10px 0px 5px 0px;
    margin-bottom: 15px;
}
.pergunta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #570420;
    margin-bottom: 10px;
    cursor: pointer;
}
.pergunta h3{
    color:#E3170A;
    font-size: 23px;
}
.pergunta ion-icon{
    color:#E3170A;
    font-size: 33px;
    transition: all 0.5s ease;

}
.resposta{
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
    transform: scaleY(0.2);
    transform-origin: top;
}
.ativar{
    max-height: 300px;
    opacity: 1;
}
.fechar{
    transform: rotate(180deg); /*rotacionando 180 ??? */
}
.bg_containe{
    position: fixed;
    bottom: -50%; 
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}
.bg_containe img{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    transform: scale(1.1);

} 
.player_container{
    height: 400px;
width: 400px;
margin-left: 30px;
/* margin-top: 150px; */
background: #FFDEAD;
border-radius: 20px;
box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}
.img_container{
    width: 300px;
    height: 300px;
    position: relative;
    /* top: -50px; left: 550px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.votacao{
    padding: 25px;
    display: flex;
    /* flex-direction: column; */
    /* background-color:aqua; */
    justify-content: center;
    
}
.textinho{
    text-align: center;
}